<ion-view view-title="{{'Accounts'|translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus" ng-click="openAddAccount()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-body list">
                <ion-input class="item item-input item-select">
                    <ion-label translate>Filter by</ion-label>
                    <select ng-model="currentFilter">
                        <option translate value="All">All</option>
                        <option translate value="hasNotClaimedDailyBonus">Has not claimed daily bonus</option>
                        <option translate value="fullLp">Full LP</option>
                    </select>
                </ion-input>
            </div>
        </div>
        <div class="card" ng-repeat="account in accounts | accountsFilter:{name: currentFilter}">
            <div class="item item-divider">
                {{account.alias}}
            </div>
            <div class="item item-avatar">
                <img ng-src="img/region_flags/{{account.region}}.png">
                <h2 translate>Rank: {{account.level}}</h2>
                <p translate>EXP: {{account.exp}}/{{computed_attributes[$index].max_exp}}</p>
            </div>
            <div class="item item-body">
                <div class="list">
                    <ion-input class="item item-input">
                        <ion-label translate>LP</ion-label>
                        {{account.lp}}/{{computed_attributes[$index].max_lp}}
                    </ion-input>
                    <ion-input class="item item-input">
                        <ion-label translate>Next LP</ion-label>
                        {{time_remaining_till_next_lp[$index].literal}}
                    </ion-input>
                    <ion-input class="item item-input">
                        <ion-label translate>Love gems</ion-label>
                        {{account.loveca}}
                    </ion-input>
                    <ion-input class="item item-input">
                        <ion-label translate>Has claimed daily bonus</ion-label>
                        <label class="toggle">
                            <input type="checkbox" ng-model="account.has_claimed_bonus" ng-change="toggleBonus(account)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-input>
                </div>
            </div>
            <div class="item item-body">
                <div class="list">
                    <ion-input class="item item-input">
                        <ion-label translate>Enable LP alert</ion-label>
                        <label class="toggle">
                            <input type="checkbox" ng-model="account.alerts_lp" ng-change="toggleLpAlerts(account)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-input>
                    <ion-input class="item item-input">
                        <ion-label translate>LP alert value</ion-label>
                        <input type="number" ng-change="saveLpAlertsValue(account)" ng-model="account.alerts_lp_value">
                    </ion-input>
                    <ion-input class="item item-input">
                        <ion-label translate>Enable daily bonus alert</ion-label>
                        <label class="toggle">
                            <input type="checkbox" ng-model="account.alerts_bonus" ng-change="toggleBonusAlerts(account)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-input>
                </div>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="openUpdate(account)">
                    <i class="icon ion-music-note"></i>
                    <translate>Rank/EXP/LP</translate>
                </a>
                <a class="tab-item" ng-click="openUpdateLoveca(account)">
                    <i class="icon ion-heart"></i>
                    <translate>Love gems</translate>
                </a>
                <a class="tab-item" ng-click="openDeleteAccount(account)">
                    <i class="icon ion-trash-a"></i>
                    <translate>Delete</translate>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
