<ion-view view-title="Accounts">
  <ion-content>
    <div class="card" ng-repeat="account in accounts">
      <div class="item item-divider">
        {{account.alias}}
      </div>
      <div class="item item-avatar">
        <img ng-src="img/region_flags/{{account.region}}.png">
        <h2>Level: {{account.level}}</h2>
        <p>Exp: {{account.exp}}</p>
      </div>
      <div class="item item-body">
        <p>LP: {{account.lp}}/{{account.max_lp}} (Next LP: {{account.one_lp_time_remaining_literal}})</p>
        <p>Loveca: {{account.loveca}}</p>
        <p ng-style="{color : account.has_claimed_bonus ? 'black' : 'red'}">Has claimed daily bonus: {{account.has_claimed_bonus ? "Yes" : "No"}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="openUpdateLevel(account)">
          <i class="icon ion-arrow-up-a"></i>
          Level
        </a>
        <a class="tab-item" ng-click="openUpdateExp(account)">
          <i class="icon ion-plus"></i>
          Exp
        </a>
        <a class="tab-item" ng-click="openUpdateLp(account)">
          <i class="icon ion-battery-half"></i>
          LP
        </a>
        <a class="tab-item" ng-click="openUpdateLoveca(account)">
          <i class="icon ion-heart"></i>
          Loveca
        </a>
        <a class="tab-item" ng-click="openUpdateBonus(account)">
          <i class="icon ion-checkmark"></i>
          Bonus
        </a>
        <a class="tab-item" ng-click="openDeleteAccount(account)">
          <i class="icon ion-trash-a"></i>
          Delete
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
