<ion-view view-title="{{'Events'|translate}}">
    <ion-content lazy-scroll>
        <div class="card" ng-show="error">
            <div class="item item-body">
                <div translate>An network error has occurred</div>
            </div>
        </div>
        <div ng-hide="error">
            <div class="card">
                <div class="item item-divider">
                    {{jp.region_name}}
                </div>
                <div class="item item-image">
                    <img image-lazy-src="{{jp.image}}" image-lazy-loader="lines">
                </div>
                <div class="item item-body">
                    <div ng-repeat="s in jp.event_status_strings">{{s}}</div>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    {{us.region_name}}
                </div>
                <div class="item item-image">
                    <img image-lazy-src="{{us.image}}" image-lazy-loader="lines">
                </div>
                <div class="item item-body">
                    <div ng-repeat="s in us.event_status_strings">{{s}}</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <translate>Thanks to </translate><a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI">SchoolIdolTomdachi</a>
                <translate> for the event API</translate>
            </div>
        </div>
    </ion-content>
</ion-view>
