<ion-view view-title="{{'Events'|translate}}">
    <ion-content lazy-scroll>
        <div class="card">
            <div class="item item-divider">
                {{jp_name}}
            </div>
            <div class="item item-image">
                <img image-lazy-src="{{jp.image}}" image-lazy-loader="lines">
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                {{us_name}}
            </div>
            <div class="item item-image">
                <img image-lazy-src="{{us.image}}" image-lazy-loader="lines">
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <translate>Thanks to </translate><a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI">SchoolIdolTomdachi</a>
                <translate> for the event API</translate>
            </div>
        </div>
    </ion-content>
</ion-view>
