<ion-view view-title="{{'Settings'|translate}}">
    <ion-content>
        <div class="list">
            <ion-input class="item item-input">
                <ion-label translate>Check events</ion-label>
                <label class="toggle">
                    <input type="checkbox" ng-model="settings.check_events" ng-change="toggle_check_events()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-input>
            <ion-input class="item item-input">
                <ion-label translate>Show debug page</ion-label>
                <label class="toggle">
                    <input type="checkbox" ng-model="settings.show_debug" ng-change="toggle_show_debug()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-input>
        </div>
    </ion-content>
</ion-view>
