<ion-modal-view>
    <ion-header-bar>
        <h1 class="title" translate>Update Rank/EXP/LP</h1>
        <button ng-click="closeUpdate()" class="button button-icon button-clear ion-close"></button>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <p translate>You have played</p>
                <translate>Regular songs</translate>
                <div class="row">
                    <div class="col">
                        <button translate class="button">Easy (+12 EXP, -5 LP)</button>
                    </div>
                    <div class="col">
                        <button translate class="button">Medium (+26 EXP, -10 LP)</button>
                    </div>
                    <div class="col">
                        <button translate class="button">Hard (+46 EXP, -15 LP)</button>
                    </div>
                    <div class="col">
                        <button translate class="button">Expert (+83 EXP, -25 LP)</button>
                    </div>
                </div>
                <translate>Event songs</translate>
                <div class="row">
                    <div class="col">
                        <button translate class="button">Easy (+12 EXP, -4 LP)</button>
                    </div>
                    <div class="col">
                        <button translate class="button">Medium (+26 EXP, -8 LP)</button>
                    </div>
                    <div class="col">
                        <button translate class="button">Hard (+46 EXP, -12 LP)</button>
                    </div>
                    <div class="col">
                        <button translate class="button">Expert (+83 EXP, -20 LP)</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <translate>Batch of played songs</translate>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Result
            </div>
        </div>
    </ion-content>
</ion-modal-view>