<div class="row">
    <div class="col">
        <input type="number" ng-model="updateAccountData.updatedExp">
    </div>
</div>
<div class="row">
    <div class="col">
        <translate>Or add by</translate>
        <select ng-model="additions.exp">
            <option value="0">0</option>
            <option translate value="12">12 (Easy)</option>
            <option translate value="26">26 (Medium)</option>
            <option translate value="46">46 (Hard)</option>
            <option translate value="83">83 (Expert)</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col">
        <translate>with multiplier</translate>
        <input type="number" ng-model="additions.expMultiplier">
    </div>
</div>