<ion-modal-view>
    <ion-header-bar>
        <button class="button icon button-positive" ng-click="saveLoveca()" translate>Save</button>
        <h1 class="title" translate>Update Love gems</h1>
        <button ng-click="closeUpdateLoveca()" class="button button-icon button-clear ion-close"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <ion-input class="item item-input">
                <ion-label translate>Love gems</ion-label>
                <input type="number" ng-model="updatingAccount.loveca">
            </ion-input>
            <ion-input class="item item-input item-select">
                <ion-label translate>Or subtract by</ion-label>
                <select ng-model="lovecaBuffer.subtraction">
                    <option value="0">0</option>
                    <option translate value="5">5 (1 scout)</option>
                    <option translate value="50">50 (11 scouts)</option>
                </select>
            </ion-input>
            <ion-input class="item item-input">
                <ion-label translate>with multiplier</ion-label>
                <input type="number" ng-model="lovecaBuffer.subtractionMultiplier">
            </ion-input>
            <ion-input class="item item-input item-select">
                <ion-label translate>Or add by</ion-label>
                <select ng-model="lovecaBuffer.addition">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="9">9</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="86">86</option>
                </select>
            </ion-input>
            <ion-input class="item item-input">
                <ion-label translate>with multiplier</ion-label>
                <input type="number" ng-model="lovecaBuffer.additionMultiplier">
            </ion-input>
        </div>
    </ion-content>
</ion-modal-view>