<div class="row">
    <div class="col">
        <input type="number" ng-model="updateAccountData.updatedLoveca">
    </div>
</div>
<div class="row">
    <div class="col">
        Or subtract by
        <select ng-model="subtractions.loveca">
            <option value="0">0</option>
            <option value="5">5 (1 scout)</option>
            <option value="50">50 (11 scouts)</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col">
        with multiplier
        <input type="number" ng-model="subtractions.lovecaMultiplier">
    </div>
</div>